<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user1" name="user1" class="co.edu.cedesistemas.ecommerce.model.User">
        <property name="name" value="Jorge" />
        <property name="lastName" value="Valderrama" />
        <property name="email" value="jvalderramab80@gmail.com" />
    </bean>
    <bean id="user2" name="user2" class="co.edu.cedesistemas.ecommerce.model.User">
        <property name="name" value="Maria" />
        <property name="lastName" value="Torres" />
        <property name="email" value="Majo123@gmail.com" />
    </bean>
    <bean id="user3" name="user3" class="co.edu.cedesistemas.ecommerce.model.User">
        <property name="name" value="Emma" />
        <property name="lastName" value="Valderrama" />
        <property name="email" value="jorgvald@hotmail.com" />
    </bean>
</beans>