<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="spring-repository.xml" />
    <bean id="storeService" class="co.edu.cedesistemas.ecommerce.service.StoreService" >
        <constructor-arg name="repository" ref="store-jdbc-repository" />
    </bean>
    <bean id="userService" class="co.edu.cedesistemas.ecommerce.service.UserService" >
        <constructor-arg name="repository" ref="user-jdbc-repository" />
    </bean>
</beans>