<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="product1" name="product1" class="co.edu.cedesistemas.ecommerce.model.Product">
        <property name="name" value="Pizza" />
        <property name="description" value="Pizza" />
    </bean>
    <bean id="product2" name="product2" class="co.edu.cedesistemas.ecommerce.model.Product">
        <property name="name" value="TV" />
        <property name="description" value="Televisor" />
    </bean>
    <bean id="product3" name="product3" class="co.edu.cedesistemas.ecommerce.model.Product">
        <property name="name" value="Hamburguesa" />
        <property name="description" value="Hamburguesa" />
    </bean>
</beans>